<div style="font-size: 40px;color: #000;text-align: center;padding-top: 50px;">
  Welcome to Online Banking Services
</div>

<div style="font-size: 25px;color: #000;text-align: center;padding-top: 50px;">
  Use the APIs to deposit, withdraw and enquiry for your account
</div>
